.requestdiv{
    background-color:grey;
    float: left;
    width: 20%;
    height: 300px;
    margin-right: 100%;
}

#responsediv{
    background-color:mintcream;
    
}

.error{
    border: 1px solid red;
}

input[type=text]{
    width:250px;
}